---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Hello, 我是王森,很高兴在这里碰到你.'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2 ">
  <div class="jumbotron" style="text-align: center;">
    <div class="jumbotron-content">
        <h1 class="display-4">Hello, world!</h1>
        <h3> Go Big or Go Home! </h3>
        <p class="lead" id="typewriteText"></p>
        <button class="btn btn-dark btn-lg">
            <a href="/blog">查看博客</a>
        </button>
    </div>
  </div>
</div>
